---
import { Image } from 'astro:assets'
import TravelLinkList from '../../components/TravelLinkList'
import NetherlandsImage from '../../images/britain-benelux-netherlands-link.jpg'
import OverviewMap from '../../images/britain-benelux-overview-map-small.jpg'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Netherlands" keywords={['Netherlands', 'Amsterdam', 'Europe', 'travel']}>
    <h1>The Netherlands</h1>

    <p>August 2012</p>

    <section>
        <h2>Photos and Video</h2>

        <TravelLinkList
            items={[
                {
                    title: 'Netherlands',
                    className: 'bg-travel-bottom-middle',
                    url: 'https://get.google.com/albumarchive/116513687533678150554/album/AF1QipOD5tTxPTmr3KjxeR-K-k6xu6YhjuasQDyd9naX',
                    imageSrc: NetherlandsImage,
                    imageAlt: 'Westerkerk overlooking an Amsterdam canal',
                },
            ]}
        />
    </section>

    <section>
        <h2>Itinerary</h2>
        <ul>
            <li>
                <strong>Netherlands</strong>
                <ul>
                    <li>Amsterdam</li>
                    <li>Haarlem</li>
                    <li>Leiden</li>
                    <li>Edam</li>
                </ul>
            </li>
            <li>
                <a href="/travel/belgium/">Bruges</a>
            </li>
            <li>Eurostar train to London, via Paris</li>
            <li>
                <a href="/travel/britain/">Edinburgh, Scotland</a>
            </li>
            <li>
                <a href="/travel/britain/">London</a>
            </li>
            <li>
                <a href="/travel/britain/">Liverpool</a>
            </li>
        </ul>
        <div class="travel-map">
            <a href="/images/britain-benelux-overview-map.png">
                <Image src={OverviewMap} alt="Map of trip locations" title="Click for a larger version" />
            </a>
        </div>
    </section>
</Layout>
