<nav class="main-nav">
    <h1>
        <a href="/">Craig Patik</a>
    </h1>
    <ul>
        <li class="hide-for-small">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/travel/">Travel</a>
        </li>
        <li>
            <a href="/code/" class="active"> Code </a>
        </li>
        <li>
            <a href="/about/">About</a>
        </li>
    </ul>
</nav>
